nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #44ac36;
	text-decoration: underline;
}



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
}

header {
	background-color: #fdfdfd;
}

.logo {
	width: 20%;
}

nav {
	display: flex;
	align-items: center; /* Centraliza verticalmente o menu */
	margin-right: 400px;
}

.nav-list {
	display: flex;
	list-style: none;
}

.nav-item {
	margin-left: 20px;
}

.nav-item a {
	text-decoration: none;
	color: #333;
	font-size: 16px;
}

.nav-item a:hover {
	color: #007bff;
}


.titulo-principal {
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
}

.principal{
 align-items: center;
 text-align: center;

}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.mapa {
	width: 500px;
	margin: 0 auto;
}

/* Estilos opcionais para o texto */
.conteudo {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.6;
	margin: 20px;
}
